*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* ---- fonts ----*/
.Fredoka>h1{
    font-family: 'Fredoka One', cursive;
}

.Poppins>h2{
    font-family: 'Poppins', sans-serif;
}

/* ----------body---------- */
#conteiner{
    width: 1120px;
    height: 465px;
    margin: auto;
    border: 2px solid black; /*bordo da rimuovere*/
}

.Fredoka>h1{
    font-family: 'Fredoka One', cursive;
}

.Poppins{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 700;
    color: rgba(229,49,112,255);
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

h2{
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 45px;
}

/* ------ MAIN ----- */
.team{
    height: 244px;

}

.team-member{
    width: 358px;
    height: 95px;
    background-color: rgba(15,14,23,255);
    display: inline-block;
}

.member-3{
    float: right;
}