*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* ---- fonts ----*/
.Fredoka>h1{
    font-family: 'Fredoka One', cursive;
}

.Poppins>h2{
    font-family: 'Poppins', sans-serif;
}

/* ----------body---------- */
#conteiner{
    width: 1120px;
    height: 465px;
    margin: auto;
}

.Fredoka>h1{
    font-family: 'Fredoka One', cursive;
}

.Poppins>p{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 700;
    color: rgb(229,49,112,255);
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

p{
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    margin-bottom: 45px;
}

/* --------- MAIN -------- */
/* --- line1 --- */
.line1{
    height: 122px;
    font-size: 0px;
}

.box1{
    float: left;
}

.box2{
    margin: 0 21px;
}

.box3{
    float: right;
    background-color: aqua;
}

/* --- line2 --- */
.line2{
    position: relative;
    height: 122px;
    font-size: 0px;
}

.box4{
    position: absolute;
    bottom: 0;
    left: 0;
}

.box5{
    background-color: peru;
    position: absolute;
    margin: 0 379px;
    bottom:0;
}

.box6{
    position:absolute;
    bottom: 0;
    right: 0;
}

/* #conteiner::after{
  content: "";
  display: table;
} */

.member{
    width: 358px;
    height: 95px;
    background-color: rgba(15,14,23,255);
    display: inline-block;
}

/* -- .box info --- */
.info{
    background-size: 95px;
    height: 95px;
    background-repeat: no-repeat;
}

